
<% @changes.each do |change| %>

  <ul class="list-group">

    <li class="list-group-item header">
      <div class="row">
        <div class="col col-md-4">
          <%= change['path'] %>
        </div>

        <div class="col col-md-4">
          <a href="/version<%= change['path'] %>/<%= change['prev']['file_hash'] %>">
            <%= change['prev']['file_hash'] %>
          </a>
        </div>

        <div class="col col-md-4">
          <a href="/version<%= change['path'] %>/<%= change['current']['file_hash'] %>">
            <%= change['current']['file_hash'] %>
          </a>
        </div>
      </div>
    </li>

    <% change['diff'].each do |diff| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col col-md-4">
            <samp><%= diff['key'] %></samp>
          </div>

          <% if diff['op'] == 'remove' %>
            <div class="col col-md-4">
              <pre class="bg-danger"><%= diff['removed'].pretty_inspect %></pre>
            </div>
          <% elsif diff['op'] == 'add' %>
            <div class="col col-md-4 col-md-offset-4">
              <pre class="bg-success"><%= diff['added'].pretty_inspect %></pre>
            </div>
          <% elsif diff['op'] == 'change' %>
            <div class="col col-md-4">
              <pre class="bg-warning"><%= diff['from'].pretty_inspect %></pre>
            </div>
            <div class="col col-md-4">
              <pre class="bg-warning"><%= diff['to'].pretty_inspect %></pre>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>

  </ul>

<% end %>