<div class="row fixed-top">
  <div class="col col-md-12">
    <h4 class="path">
      <%= @system_path %>
    </h4>
    <div>
      version <%= @file_hash %>
    </div>
    <div>
      seen:
      <ul>
        <% @seen.each do |time| %>
          <li>
            <%== erb :_time, locals: {time: time} %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      view:
      <a href="<%= request.path %>">table</a> | 
      <a href="<%= request.path %>?view=yaml">yaml</a>
    </div>
  </div>
</div>

<% if params['view'] == 'yaml' %>
  <%== erb :version_yaml %>
<% else %>
  <%== erb :version_table %>
<% end %>